PORT=5000
MONGODB_URI=mongodb+srv://pratheepanniroshan49_db_user:Niroshan1231@library-rental-cluster.lmjemhm.mongodb.net/library_rental?appName=library-rental-cluster
JWT_SECRET=library_rental_secret
EMAIL_USER=pratheepanniroshan49@gmail.com
EMAIL_PASSWORD=xxlt dbih vcda tryg